body {
 background-color: rgb(4, 129, 113);
}
.navbar {
 background-color: rgb(25, 15, 170);
 color: #fff;

}

.button {
color: #fff;
}
.ul {
 background-color: rgb(25, 15, 170) ;
 color: #fff;
}

.bgc  {
 color: #fff;
}